/* General Layout */
.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background: white;
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    width: 25%;
    background: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Main Viewer Area */
.viewer-container {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.viewer-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.viewer {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
